body {
    padding-top: 10px;
}

h1 {
    text-align: center;
}



.container {
    display: flex;
    height: 100%;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 50px;
}